/* --- FONTES --- */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
.bodoni-moda {
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.league-spartan {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.newsreader {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.nanum-myeongjo-regular {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-style: normal;
}



/* --- SECTION --- */
#section {
    width: 80%;
    margin: 0 auto;
    background-color: white;
}



/* --- IMAGEM --- */
#img-section{
    background-image: url('../../public/fundo.jpg');
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 100%;
    display: flex;
}
#img-section h1{
    align-self: center;
    margin: auto;
    font-size: 4vw;
    font-family: 'Bodoni Moda SC', sans-serif;
    color: white;
    text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.433);
}



/* --- CONTEÚDO --- */
#text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    background-color: white;
    color: rgb(0, 0, 0);
}
#text-section h2 {
    font-size: 1.5vw;
    font-family: 'League Spartan', sans-serif;
    margin-bottom: 10px;
}
#text-section p {
    font-size: 1vw;
    font-family: 'Varela', sans-serif;
    max-width: 250px;
    text-align: center;
}



/* --- FORMULÁRIO DE CONTATO --- */
#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 40px;
    margin: auto;
    flex-wrap: wrap;
}
.form-group {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}
input, textarea {
    height: 32px;
    width: 250px;
    border-radius: 3px;
    border: 1px solid rgb(154, 154, 154);
    resize: none;
    padding: 3px 0 0 10px;
    font-size: 1.2vw;
    font-family: 'League Spartan', sans-serif;
}
input:hover, textarea:hover {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(245, 245, 245);
}
button{
    height: 30px;
    width: 70px;
    color: white;
    background-color: black;
    margin-top: 20px;
}
button:hover {
    background-color: rgb(245, 245, 245);
    color: black;
    transform: scale(1.05);
    transition: all 0.15s ease;
    cursor: pointer;
}